---
layout: default
---

<div class="home">

  <div class="content">
    <h2>Archive</h2>
    <h3>&nbsp;</h3>
    <ul>
      {% for post in site.posts %}
        <li>
          <span class="date">{{ post.date | date: "%b %d, %Y" }}</span>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="content bottom-content">
    {% include description.html %}
  </div>

  {% include form.html %}


</div>
