---
layout: default
---

<div class="home">

  <h2>Archive</h1>
  <div id="content">
    <ul id="positions">
      {% for post in site.posts %}
        <li>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> |
          {{ post.date | date: "%b %-d, %Y" }}

        </li>
      {% endfor %}
    </ul>
  </div>

  <div id="content">
    Get a weekly list of job opportunities exclusively from
    companies that are happy
    to work with remote developers from <u>European time zones</u>. Save your time and avoid applying to positions
    that are U.S. only.
  </div>

  {% include form.html %}


</div>
