---
layout: default
---

<div class="home">

  <div class="content">
  <h2 class="large">Archive</h1>
    <ul id="positions">
      {% for post in site.posts %}
        <li>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> |
          {{ post.date | date: "%b %-d, %Y" }}

        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="content">
    Get a weekly list of job opportunities exclusively from
    companies that are happy
    to work with remote developers from <u>European time zones</u>.
  </div>

  {% include form.html %}


</div>
