---
layout: frontpage
---

<div class="home">

  <div class="content">
    {% include description.html %}
  </div>

  {% include form.html %}

  {% for post in site.posts limit: 1%}
    <div class="content frontpage-jobs">
      <h2>{{ post.title }} - {{ post.date | date: '%B %d, %Y' }}</h2>
      {{ post.content }}
    </div>
  {% endfor %}

  <div class="content">
    <div id="sponsored" onclick="location.href='https://www.toptal.com/talent/apply#snag-just-impressive-devs-today'">
      Interested in <b>full-time</b> freelancing positions with <b>fixed monthly sallary</b>?
      <a href="https://www.toptal.com/talent/apply#snag-just-impressive-devs-today" target="_blank">
        Join Toptal
      </a>
    </div>
  </div>

  {% for post in site.posts limit: 3 offset: 1 %}
    <div class="content frontpage-jobs">
      <h2>{{ post.title }} - {{ post.date | date: '%B %d, %Y' }}</h2>
      {{ post.content }}
    </div>
  {% endfor %}
</div>
