$primary-color: #316CA2;
$hover-color: #00adef;
$break-point: 850px;

body {
  font-family: helvetica;
  text-align: center;
  font-family: "Merriweather","Times","serif";
  color: #333;
  font-size: 22px;
  margin-top: 0px;
}

#sponsored {
  margin-top: 30px;
  background-color: #eee;
  padding: 10px 5px;
  text-align: center;
  font-family: "Open Sans", "Helvetica";
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;

  a {
    padding: 0.5em 1em;
    margin-left: 5px;
    background-color: $hover-color;
    border: 2px solid $hover-color;
    color: white;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    @media screen and (max-width: $break-point) {
      width: 90%;
      display: block;
      margin-top: 5px;
    }
  }

}

html {
  position:relative;
  min-height: 100%;
}

ul {
  font-family: "Open Sans", "Helvetica";
  color: #888;
  .company, .date {
      color: #111;
      font-weight: bold;
      padding-right: 0.5em;
      @media screen and (max-width: 700px) {
        display: block;
      }
  }
  .date {
    display: inline-block;
    width: 6.5em;
  }
  padding-left: 0;
  list-style-type: none;
  margin-top: 0;
  font-size: 20px;
}

li {
  padding: 12px 0;
  border-bottom: 1px solid #ddd;
}

a, a:active, a:visited {
  color: $primary-color;
}

a:hover {
  color: $hover-color;
}

h1, h2 {
  font-family: "Open Sans", "Helvetica";
}

h1 {
  color: #000;
  font-size: 60px;
  font-decoration: underline;
}

h2 {
  text-align: center;
  color: #111;
  margin-bottom: 5px;
}

h3 {
  text-align: center;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 50px;
}

.content {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  text-align: left;

  @media screen and (max-width: $break-point) {
    padding-right: 20px;
    padding-left: 20px;
  }
}

#title {
  a, a:active, a:hover, a:visited, a:active {
    color: #000;
    text-decoration: none;
  }
  a:hover {
    color: #000;
    text-decoration: underline;
  }
  img {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  @media screen and (min-width: $break-point) {
    img {
      width: 550px;
    }
  }
}

#title_small {
  img {
    width: 200px;
  }
  border-bottom: 1px solid #ddd;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

#mail_form {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
  border: 3px dotted #e6e6e6;
  margin: 30px 0 20px 0;
  width: 100%;
  border-radius: 5px;
  .note {
    font-family: "Open Sans";
    font-size: 12px;
  }
}

input, textarea {
  border: 2px solid #999;
  font-size: 16px;
  padding: 10px;
  margin: 1.5em auto 0;
  width: 350px;
  color: #444;
  font-family: "Open Sans", "Helvetica";
  @media screen and (max-width: $break-point) {
    width: 90%;
    box-sizing: border-box;
  }
}

input[type=submit] {
  margin: 0.5em auto 1em;
  width: 150px;
  background-color: $hover-color;
  border: 2px solid $hover-color;
  color: white;
  border-radius: 5px;
  display: inline-block;
  @media screen and (max-width: $break-point) {
    width: 90%;
    box-sizing: border-box;
  }
}

#submit_job {
  max-width: 800px;
  margin: 20px auto 20px auto;
  padding-top: 20px;
  text-align: left;
  background-color: #ffffff;

  label {
    display: block;
    font-family: "Open Sans", "Helvetica";
    font-size: 14px;
    margin-left: 0.1em;
    margin-bottom: 3px;
    font-weight: bold;
  }

  input, textarea {
    margin-top: 0;
    margin-bottom: 2em;
    border: 1px solid #ccc;
  }

  textarea {
    width: 90%;
    height: 100px;
  }
}

#footer {
  position: absolute;
  bottom: 10px;
  left: 5px;
  right: 5px;
  text-align: center;
  font-size: 12px;
  font-family: "Open Sans", "Helvetica";
}

.footer-spacer {
  height: 100px;
}

.frontpage-jobs {
  h2 {
    margin-top: 60px;
    font-size: 14px;
    border-bottom: 3px solid #ddd;
    margin-bottom: 0;
    color: #445;
    text-align: left;
  }
  a, a:active, a:hover, a:visited {
    color: $primary-color;
    text-decoration: none;
    border-bottom: 1px solid $primary-color;
  }

  a:hover {
    color: $hover-color;
    border-bottom: 1px solid $hover-color;
  }
}

.bottom-content {
  margin-top: 30px;
}

.community {
  margin-top: 36px;
  font-size: 18px;
  color: #444;

  .join {
    font-family: "Open Sans", "Helvetica";
    font-size: 40px;
    text-align: center;

    img {
      display: block;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  a, a:active, a:hover, a:visited {
    font-size: 20px;
    margin: 0.5em auto 1em;
    padding: 1em 2em;
    background-color: $hover-color;
    border: 2px solid $hover-color;
    color: white;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
  }

  a:hover {
  }
}
